/* global */
header {
    width: 100%;
    background: white;
    border: rgb(217, 214, 214) 1px solid;
    position: fixed;
    top:0;
    left: 0;

}

.wrapper_header {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

li {
    margin: 0.5em;

}

li a, #profil a {
    color: #474747;
    font-weight: bold;
    font-family: "heebo", Calibri, sans-serif;
}

header #deposit a {
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    color: indianred;
    border: indianred 2px solid;
}